@model LibraryApp.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Authors
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var bookAuthor in Model.BookAuthors)
                {
                    <li><a asp-controller="Authors" asp-action="Details" asp-route-id="@bookAuthor.AuthorId"></a>@bookAuthor.Author.FirstName @bookAuthor.Author.LastName</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Genres
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var genre in Model.Genres)
                {
                    <li>@genre.GenreName</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
