@model IEnumerable<LibraryApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Add Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a> |
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
            </td>
            <td>
                <ul>
                    @foreach (var bookAuthor in item.BookAuthors)
                    {
                        <li>@bookAuthor.Author.FirstName @bookAuthor.Author.LastName</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var genre in item.Genres)
                    {
                    <li>@genre.GenreName</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
